beautifulsoup4==4.12.3
Flask==3.1.0
langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-openai==0.3.2
langchain-text-splitters==0.3.5
langgraph==0.2.67
langgraph-checkpoint==2.0.10
langgraph-checkpoint-sqlite==2.0.3
langgraph-cli==0.1.69
langgraph-sdk==0.1.51
langsmith==0.3.2
openai==1.60.2
tavily-python==0.5.0